node_modules
**/node_modules
.next
**/.next
*.tsbuildinfo
**/*.tsbuildinfo
logs
keys
.env
.env.*
!.env.example
.git
.DS_Store
**/.DS_Store
demo
docs
contracts/artifacts
contracts/cache
contracts/typechain-types
.og-cache
CLAUDE.md
axl/bin
*.pem
